html,body{
	width: 100%;
	height: 100%;
}
.wrapper{
	 width: 100%;
    min-height: 100%;
    height: auto;
    display: -webkit-box;
    -webkit-box-align: center;
    background: #f9f9f9;
}
.wrap-heart{
	margin: 0 auto;
}
.wrapper-content{
	width: 854px;
	margin: 8px auto 15px;
	background: #fff;
    padding: 0px 34px 34px;
}
.reg-logo{
	text-align: center;
	padding-bottom: 40px;
}
.reg-logo>a{
	width: 49px;
    height: 48px;
    margin: 0 auto;
    display: block;
    cursor: default;
}
.reg-logo img{
	margin-bottom: -4px;
	width: 100%;
	height: 100%;
}
.wrapper-content>h2{
	text-align: center;
	font-size: 30px;
    font-weight: normal;
     color: #333;
    line-height: 1.5;
}
.reg-from{
	width: 332px;
    padding: 30px 0;
    line-height: 20px;
    margin: 0px auto;
}
.tit_normal{
	font-size: 14px;
	padding-bottom: 5px;
    color: #333;
    font-weight: normal;
}
.listwrap{
    width: 316px;
    height: 40px;
    padding-left: 14px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e8e8e8;
    color: #555;
    cursor: pointer;
    margin-bottom: 15px;
}
.listwrap>p{
	float: left;
    width: 275px;
    border-right: 1px solid #e8e8e8;
    cursor: pointer;
}
.region_tip_text{
	margin-top: -10px;
    margin-bottom: 15px;
    width: 332px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}
.reg-phone{
	width: 332px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.reg-prefix{
	float: left;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e8e8e8;
    color: #555;
    cursor: pointer;
}
.reg-prefix>p{
	width: 54px;
	font-size: 14px;
    text-align: center;
    padding: 0 9px;
}
.reg-phone>input{
	width: 236px;
	height: 20px;
    line-height: 20px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #e8e8e8;
}
form>input{
	width: 330px;
    height: 42px;
    margin: 0 auto;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    display: block;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    background-color: #ff6700;
    color: white;
}
.privacy_box{
    text-align: center;
    padding-top: 40px;
}
.msg{
    color: #9d9d9d;
    font-size: 14;
}
.n_checked{
    padding: 10px 0;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
}
.msg a{
	color: #9d9d9d;
}

.reg-footer{
    text-align: center;
    height: 80px;
    font-size: 14px;
}
.nf-link-area {
    text-align: center;
}
.nf-link-area li {
	color: #9d9d9d;
    display: inline-block;
}
.nf-intro {
	color: #9d9d9d;
    padding: 10px;
}
.reg-footer a{
	color: #9d9d9d;
}
.reg-footer ul li a{
	padding: 8px;
}
